In [1]:
import os
import pandas as pd
import numpy as np
import fitsio
import dask
from dask import delayed

In [10]:
def extract_coincidentals(spikes_list, idx):
    
    # Spikes coordinates at given wavelength index
    spikes_w = spikes_list[idx]
    # Associated neighbour coordinates
    nb_pixels = index_8nb[spikes_w[0, :], :]
    # Sublist of spikes data that will excludes the one serving as template
    spikes_sublist = spikes_list[:idx]+spikes_list[idx+1:]
    # Coincidental cross-referencing. 
    mask_w_arr = np.array([np.isin(nb_pixels, index_8nb[spikes[0,:], :]).any(axis=1) for spikes in spikes_sublist])
    select_pixels = mask_w_arr.any(axis=0)
    coords_w = spikes_w[0, select_pixels] 
    w_tables = np.insert(mask_w_arr[:, select_pixels], idx, True, axis=0)
    # Retrieve intensity values for the selected coordinates
    intensities = spikes_w[ 1:, select_pixels]
    arr_w = np.concatenate([coords_w[np.newaxis,...], intensities, w_tables], axis=0)
    arr_w = np.insert(arr_w, 3, idx, axis=0)
    
    return arr_w

def extract_all_coincidentals(spikes_list):
    column_names = ['coords' , 'int1', 'int2', 'wref', 'w0', 'w1', 'w2', 'w3', 'w4', 'w5', 'w6']
    group_data = np.concatenate([extract_coincidentals(spikes_list, i) for i in range(7)], axis=1)
    coincidental_spikes_df = pd.DataFrame(group_data.T, columns=column_names)
    return coincidental_spikes_df


def process_group(fpaths):
    spikes_list = [fitsio.read(os.path.join(data_dir, f)) for f in fpaths]
    df_group = extract_all_coincidentals(spikes_list)
    return df_group

In [3]:
data_dir = os.environ['SPIKESDATA']
spikes_df = pd.read_parquet(os.path.join(data_dir, 'spikes_df_2010.parquet'), engine='pyarrow')
spikes_df2 = spikes_df.set_index(['GroupNumber', 'Time'])

In [4]:
path_Series = spikes_df2['Path']

In [6]:
################################################################################################
# Pre-compute the 8-connectivity lookup table. This will be shared across parallel workers.
################################################################################################
# List of relative 2D coordinates for 8-neighbour connectiviy (9-element list). 1st one is the origin pixel.
coords_8nb = np.array([[0, 0], [-1, 0], [-1, -1], [0, -1], [1, -1], [1, 0], [1, 1], [0, 1], [-1, 1]])
# Array of 2D coordinates for a 4096 x 4096 array. Matrix convention is kept. [rows, cols] = [y-axis, x-axis]
ny, nx = [4096, 4096]
coords_1d = np.arange(nx * ny)
coordy, coordx = np.unravel_index(coords_1d, [ny, nx]) # also possible by raveling a meshgrid() output
coords2d = np.array([coordy, coordx])
# Create the array of 2D coordinates of 8-neighbours associated with each pixel.
# pixel 0 has 8 neighbour + itself, pixel 1 has 8 neighbour + itself, etc...
coords2d_8nb = coords2d[np.newaxis, ...] + coords_8nb[..., np.newaxis]
# Handle off-edges coordinates by clipping to the edges, operation done in-place. Here, square detector assumed. Update
# to per-axis clipping if that ever changes for another instrument.
np.clip(coords2d_8nb, 0, nx-1, out=coords2d_8nb)
# Convert to 1D coordinates.
index_8nb = np.array([coords2d_8nb[i, 0, :] * nx + coords2d_8nb[i, 1, :] for i in range(len(coords_8nb))],
                     dtype='int32', order='C').T
index_8nb.shape

(16777216, 9)

In [8]:
groups = spikes_df2.index.get_level_values('GroupNumber').unique()
groups

Int64Index([      0,       1,       2,       3,       4,       5,       6,
                  7,       8,       9,
            ...
            1677590, 1677591, 1677592, 1677593, 1677594, 1677595, 1677596,
            1677597, 1677598, 1677599],
           dtype='int64', name='GroupNumber', length=1670869)

In [11]:
paths_list = [path_Series.loc[group_n] for group_n in groups[0:5]]

In [12]:
from dask.distributed import Client

client = Client(n_workers=4)

In [15]:
list_df_groups = [delayed(process_group)(paths) for paths in paths_list]
r = dask.compute(*list_df_groups)

In [16]:
r[0]dask

         coords  int1  int2  wref  w0  w1  w2  w3  w4  w5  w6
0         18917   122    11     0   1   1   0   0   0   0   0
1         19192   124     7     0   1   0   0   1   0   0   0
2         23013    75    10     0   1   1   0   0   0   0   0
3         23287   157     9     0   1   0   0   1   0   0   0
4         27109    38     9     0   1   1   0   0   0   0   0
5         31135    55     9     0   1   0   0   0   0   1   0
6         31475   111     8     0   1   1   0   0   0   0   0
7         41989   255     6     0   1   0   0   1   0   0   1
8         42997   285     9     0   1   0   0   1   0   0   0
9         46085   408     6     0   1   0   0   1   0   0   1
10        47093   451     8     0   1   0   0   1   0   0   0
11        47094    25     9     0   1   0   0   1   0   0   0
12        81129   280     1     0   1   0   0   0   0   1   0
13        85225    50     1     0   1   0   0   0   0   1   0
14       109354    18     8     0   1   0   0   0   0   0   1
15       109963   175    -1     0   1   0   0   1   0   0   0
16       116356    78    13     0   1   0   0   1   0   0   0
17       134413   549     1     0   1   0   1   0   0   0   0
18       141421   160     9     0   1   0   1   0   0   0   0
19       145517   321     8     0   1   0   1   0   0   0   0
20       149995   226    10     0   1   0   0   1   0   0   0
21       149996    29    10     0   1   0   0   1   0   0   0
22       153125   174    12     0   1   0   0   1   0   0   0
23       173594    70    12     0   1   0   0   0   0   1   0
24       182098   282     8     0   1   0   0   0   0   1   0
25       217827    57     2     0   1   0   0   0   1   0   0
26       221926    33     3     0   1   0   0   0   1   0   0
27       222012    33     4     0   1   0   0   0   0   0   1
28       222438   136     8     0   1   0   0   0   1   0   0
29       226022   291     3     0   1   0   0   0   1   0   0
...         ...   ...   ...   ...  ..  ..  ..  ..  ..  ..  ..
16309  12804188    13     1     6   0   1   0   0   0   0   1
16310  13091118    16     1     6   0   1   0   0   0   0   1
16311  13095215    15     1     6   0   1   0   0   0   0   1
16312  13120850    37    10     6   0   1   0   0   0   0   1
16313  13458008    47    12     6   0   1   0   0   0   0   1
16314  13583525    36     7     6   0   0   0   0   1   0   1
16315  13584962    29    13     6   0   0   1   0   0   0   1
16316  13633450    33     8     6   0   1   0   0   0   0   1
16317  13659866    15     0     6   1   0   0   0   0   0   1
16318  14052839    50     1     6   0   1   0   0   0   1   1
16319  14056934    65     1     6   0   1   0   0   0   1   1
16320  14061031    35     1     6   0   1   0   0   0   0   1
16321  14076688   121    53     6   0   0   0   0   0   1   1
16322  14184962    16     1     6   0   0   1   0   0   0   1
16323  14193154    12     0     6   0   0   1   0   0   0   1
16324  14215893   133    43     6   0   0   0   0   0   1   1
16325  14368541    10     1     6   0   1   0   0   0   0   1
16326  14745155     9     0     6   1   0   0   0   0   0   1
16327  14829114    30    14     6   0   1   0   0   0   0   1
16328  14975556    13     0     6   0   0   0   0   0   1   1
16329  15009112    26     2     6   0   0   0   0   0   1   1
16330  15139588    28     1     6   0   1   0   0   0   0   1
16331  15277583     9     1     6   0   0   1   0   0   0   1
16332  15348532    12     1     6   0   0   0   0   0   1   1
16333  15558338    23     1     6   0   0   0   1   0   0   1
16334  15722069    14     1     6   0   0   0   0   0   1   1
16335  16044881    27     0     6   0   0   1   0   0   0   1
16336  16110270    11     0     6   0   1   0   0   0   0   1
16337  16476944     9     0     6   0   1   0   0   0   0   1
16338  16705927     8     0     6   0   0   0   0   0   1   1

[16339 rows x 11 columns]